RewriteEngine On

# Allow access to CSS, PNG, JS, and other files from the "assets" folder
RewriteRule ^styles/ - [L]
# Allow access to any files in the "public" folder
RewriteRule ^images/ - [L]

## Redirect all requests to index.php except for existing files and directories
#RewriteCond %{REQUEST_FILENAME} !-f
#RewriteCond %{REQUEST_FILENAME} !-d
##RewriteRule ^private/(.*)$ index.php [L]
RewriteRule ^(.*)$ Routes.php?$1 [QSA,L]